<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans.xsd
       http://www.springframework.org/schema/context
       http://www.springframework.org/schema/context/spring-context.xsd">

    <context:annotation-config/>
    <context:property-placeholder location="classpath:app.properties" system-properties-mode="OVERRIDE"/>

    <import resource="spring-db.xml"/>
    <import resource="spring-mail.xml"/>
    <import resource="spring-scheduler.xml"/>
    <context:component-scan base-package="es.ahs.**.service"/>
    <context:component-scan base-package="es.**.oracle_task"/>
    <context:component-scan base-package="es.ahs.oracle_task.service.mail" />
    <context:component-scan base-package="es.ahs.oracle_task.service.scheduler" />
</beans>