<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:jee="http://www.springframework.org/schema/jee"
       xsi:schemaLocation="
       http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
       http://www.springframework.org/schema/jee http://www.springframework.org/schema/jee/spring-jee.xsd">

    <beans profile="local">

    </beans>


    <beans profile="server">
        <jee:jndi-lookup id="mailSession" jndi-name="jndi/TestMail" expected-type="javax.mail.Session"/>
    </beans>


    <beans profile="test">

    </beans>

</beans>